@charset "UTF-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,p,blockquote,
a,b,table,canvas,ol,ul,li,menu,nav,tr,td,th,table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html{
    scroll-behavior: smooth;
  }

body {
    line-height: 1;
    background-color: #FFE1D9;
}

ol,ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.womologo {
    padding: 5% 5% 30px 5% ;
}

.mmenu {
    padding:  0px 40px;
    color: #101785;
    border-right: 1px solid;
    float: left;
    text-align: left;
    margin-bottom: 150px;
}
.clear_box {
    clear:  both;   
    margin-bottom: 50px;            /* 回り込みを解除する */
}
.min-tex
{
    font-size: 10px;
}
.middle-tex
{
    font-size: 14px;
    line-height: 30px;
}

.max-tex
{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em
}
.works-list {
    display: flex;
    color: #101785;
    text-align: left;
    flex-wrap: wrap;
    padding-bottom: 150px;
}
.works-list-me {
    display: flex;
    color: #101785;
    text-align: left;
    flex-wrap: wrap;
}


.tex-line
{
    font-size: 12px;
    border-right: 1px solid #101785;
    padding: 5px;
}
.vertical-title {
    display: flex;
    flex-direction: column;
    transform-origin: 20% 100%;
    transform: rotate( 90deg );
    align-items: flex-end;
    height: 20px;
    padding:10px;
    width: 10%;
}

.inner-photo {
    display: flex;
    flex-direction: column;
    padding:  0px 20px;
    flex:2;
}
.inner-photo ::after{
    display: block;
      padding-top: 20px;
      content: '';
    }
.inner-photo img{
    width: 100%;
    padding-bottom: 50px;
}

.inner-photo-me {
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}

.inner-photo-me img{
    border-radius:50%;
}

.inner-text-me {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 50px 300px 50px;
}

.inner-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding:  50px;
}

/* 何でもセンター */
.centering{
    display: flex;
    justify-content: center;
}

/* トップへ戻るボタン */
.page_top_btn {
    font-size: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 0.5em;
    text-align: center;
    background-color: #FFE1D9;
    color: #101785;
    border: 1px solid #101785;
    transition: 0.3s0;
    text-decoration: none;
  }
  
  /* マウスオーバー時 */
  .page_top_btn:hover {
    background-color:  #101785;
    color:#FFE1D9;
  }

  /* 共通ボタン */
.normal_btn {
    font-size: 16px;
    padding: 0.5em;
    text-align: center;
    background-color: #FFE1D9;
    color: #101785;
    border: 1px solid #101785;
    transition: 0.3s0;
    text-decoration: none;
    width: 100%;
    margin: 10px;
  }
  
  /* マウスオーバー時 */
  .normal_btn:hover {
    background-color:  #101785;
    color:#FFE1D9;
  }

  .slide {
    margin: 0 auto;
    max-width: 600px;
    height: 200px;
  }
  
  .slick-arrow {
    &.slick-prev {
      left: 10px;
      z-index: 2;
    }
  
    &.slick-next {
      right: 10px;
      z-index: 2;
    }
  }

 
  
  .slide-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .slick-dots{
	bottom: 80px!important;
}

  * {
    min-height:0;
    min-width : 0;
    }
